/* Web Font */
* {
  font-family: "Titillium Web", sans-serif;
}

/* Relative positioning*/
#image-map {
  position: relative;
  margin: 10px auto 20px auto;
}

/* Hide the original tooltips contents */
.pin {
  display: none;
}

/* Begin styling the tooltips and pins */

.tooltip-down {
  position: absolute;
  width: 50px;
  height: 50px;
}

.tooltip {
  display: none;
  width: 200px;
  cursor: help;
  text-shadow: 0 1px 0 #fff;
  position: absolute;
  top: 10px;
  left: 50%;
  z-index: 999;
  margin-left: -115px;
  padding: 15px;
  color: #222;
  border-radius: 5px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.7);
  background: #fff1d3;
  background: linear-gradient(top, #fff1d3, #ffdb90);
}

.tooltip::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -10px;
  border-bottom: 10px solid #fff1d3;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.tooltip-down .tooltip {
  bottom: 22px;
  top: auto;
}

.tooltip-down .tooltip::after {
  bottom: -10px;
  top: auto;
  border-bottom: 0;
  border-top: 10px solid #ffdb90;
}

.tooltip h2 {
  font: bold 1.3em "Trebuchet MS", Tahoma, Arial;
  margin: 0 0 10px;
}

.tooltip ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.map {
  max-width: 100%;
}
body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  display: none;
  padding: 10px 20px;
  height: 100%;
}
.tabs {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
th,
td,
p,
input {
  font: 14px Verdana;
}
table,
th,
td {
  border: solid 1px #ddd;
  border-collapse: collapse;
  padding: 2px 3px;
  text-align: center;
}
th {
  font-weight: bold;
}
