/* Web Font */
* {
    font-family: 'Trebuchet MS' !important;
}

/* Relative positioning*/
#image-map {
    position: relative;
    margin: 50px auto 55px auto;
}

/* Hide the original tooltips contents */
.pin {
    display: none;
}

/* Begin styling the tooltips and pins */
.tooltip-up, .tooltip-down {
    position: absolute;
    width: 25px;
    height: 37px;
}

.tooltip-down {
    background-position: 0 -37px;
}

.toolti {
    display: none;
    width: 400px;
    cursor: help;
    position: absolute;
    top: 10px;
    left: 50%;
    z-index: 999;
    margin-left: -190px;
    padding:15px;
    padding-left: 25px;
    border-radius: 9px;
    border: 1px solid black;
    border-width: 3px;
    background: white;
}

.toolti::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -10px;
    border-bottom: 10px solid white;
    border-left: 10px solid transparent;
    border-right : 10px solid transparent;
}

.tooltip-down .toolti {
    bottom: 12px;
    top: auto;
}

.tooltip-down .toolti::after {
    bottom: -10px;
    top: auto;
    border-bottom: 0;
    border-top: 10px solid white;
}

.toolti h2 {
    font: bold 1.3em 'Trebuchet MS', Tahoma, Arial;
    margin: 0 0 10px;
}

.toolti ul {
    margin: 0;
    padding: 0;

}
a {text-decoration: none; color: black;}
a:hover {text-decoration: none; color: black;}
.form-group, .checkbox{

    margin-bottom: 1rem
}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 */
  position: relative;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  width: 100%;
  height: 100%;
}