 {% extends 'base.html' %}
 {% block title %} Экомарафон{% endblock %}
 {% block content %}
{% import "bootstrap/wtf.html" as wtf %}
<div class="container col-8 mt-4">
<form action="" method="post" class="form" role="form" enctype="multipart/form-data">

 <d1>
     {{ wtf.form_field(form.actions)}}

   {{ wtf.form_field(form.username)}}


<div class="row d-flex justify-content-between">
    <div class="col-md-5">
        {{ wtf.form_field(form.school )}}
    </div>
    <div class="col-md-3">
     {{ wtf.form_field(form.class_no )}}
    </div>
    <div class="col-md-3">
     {{ wtf.form_field(form.class_letter )}}
    </div>
</div>
     {{ wtf.form_field(form.comment )}}

     {{ wtf.form_field(form.remember )}}

     {{ wtf.form_field(form.photo )}}

 </d1>
 {{ wtf.form_field(form.submit, class="btn btn-primary")}}

</form>
    </div>
<script>
	$(function() {
		$( ".dtpick" ).datepicker();
	});
	</script>
  {% endblock %}
