 {% extends 'base.html' %}
 {% block title %} Правила участия{% endblock %}
 {% block content %}
 <div class="container justify-content-md-center mt-4">
  <div class="container d-flex justify-content-center">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/KFIZGfgHums" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     </div>
   <ul><li>Участвовать просто! Посмотрите Видео-инструкцию, как принять участие в Экомарафоне</li>
<li>Принять участие в Экомарафоне может любой учащийся МОУ «Гимназия №3» и СШ №11.</li>
<li>Участие в Экомарафоне добровольное.</li>
<li>Принимать участие можно в любых категориях любой станции в любом порядке.</li>
<li>Некоторые станции допускают лишь однократное участие в каждой категории одним учащимся; другие ограничений не имеют.</li>
<li>Чтобы принять участие, учащийся должен выбрать нужную станцию, внутри нее – категорию. Затем внести необходимую информацию, загрузить фото и нажать кнопку «отправить».</li>
<li>Начисление баллов классу и школе производится согласно указанному количеству баллов на каждой станции.</li>
<li>Внимание! Баллы за участие выставляются вручную администраторами проекта, поэтому рейтинги обновляются не сразу. Обновление осуществляется каждую неделю по воскресеньям.</li>
<li>Хотя бы на одной из нескольких отсылаемых фотографиий по каждому мероприятию/акции обязательно должен быть запечатлен и сам учащийся. Исключение – случаи, когда отсылается именной диплом/грамота участника мероприятия.</li>
<li>Не допускается использование чужих и скачанных из Интернета фотографий.</li>
<li>Наиболее активные классы-участники Экомарафона и отдельные обучающиеся получат благодарственные письма.</li>
 </ul>
 </div>
 {% endblock %}